* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fsize-h1: 2rem;
    --fsize-h2: 1.6rem;
    --fsize-p: 1.2rem;
    --color-1: #044e97;
    --color-2: #9C254D;
    --color-3: #dbeed4;
    --color-4: #d8dfeb;
    --color-5: white;
    --width_media_phone: 100%;
    --width_media_tablet: 100%;
    --width_media_desktop: 800px;
    --width_media_bigdesktop: 1000px;
    --width_margin-perc: 2%;
    --width_margin-px: 40px;
}

html {
    font-size: 62.5%;    
    font-family: "Lucida Sans", sans-serif;
    background: var(--color-5);
    background-image: repeating-linear-gradient(to right, var(--color-1), var(--color-2) 2%, transparent 2%, transparent);
    background-size: 10%; /* separación entre las líneas del fondo */
}

/* Configuración del ancho de los divs */

/* Ancho de los divs cuando carga la página */
     
    [class*="c_tb_"] {
        display: none;
    }
    [class*="c_sc_"] {
        display: none;
    }
    [class*="c_bsc_"] {
        display: none;
    }
    .container {
        width: var(--width_media_phone);
        display: flex;
        flex-wrap: wrap;
        background-color: var(--color-4);
        margin-left: auto; 
        margin-right: auto;
        padding-top: 20rem;
    }
    .c_ph_10, .c_ph_25, .c_ph_33, .c_ph_40, .c_ph_50, .c_ph_60, .c_ph_66, .c_ph_75, .c_ph_100 { 
        display: block;
        width: var(--width_media_phone);
        border: 1px solid var(--color-1);
        border-radius: 12px;
        margin-left: auto; 
        margin-right: auto;
    }

@media (min-width: 600px) { /* Ancho cuando la página tiene más de 600px de ancho - PARA TABLETS */
    [class*="c_ph_"] {
        display: none;
    }
    [class*="c_sc_"] {
        display: none;
    }
    [class*="c_bsc_"] {
        display: none;
    }
    .container {
        width: var(--width_media_tablet);
    }
    .c_tb_10, .c_tb_25, .c_tb_33, .c_tb_40, .c_tb_50, .c_tb_60, .c_tb_66, .c_tb_75 {
        display: block;
        width: calc(var(--width_media_tablet) * 0.5);
        margin-left: auto; 
        margin-right: auto;
    }
    .c_tb_100 {
        display: block;
        width: var(--width_media_tablet);
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (min-width: 800px) { /* Ancho cuando la página tiene más de 800px de ancho */
    [class*="c_ph_"] {
        display: none;
    }    
    [class*="c_tb_"] {
        display: none;
    }
    [class*="c_bsc_"] {
        display: none;
    }
    .container {
        width: var(--width_media_desktop);
    }
    .c_sc_10, .c_sc_25, .c_sc_33, .c_sc_40, .c_sc_50, .c_sc_60, .c_sc_66, .c_sc_75, .c_sc_100 {
        display: block;
        margin-left: auto; 
        margin-right: auto;
    }
    .c_sc_10 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.1);
    }
    .c_sc_25 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.25);
    }
    .c_sc_33 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.33);
    }
    .c_sc_40 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.4);
    }
    .c_sc_50 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.5);
    }
    .c_sc_60 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.6);
    }
    .c_sc_66 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.66);
    }
    .c_sc_75 {
        width: calc((var(--width_media_desktop) - var(--width_margin-px)) * 0.75);
    }
    .c_sc_100 {
        width: calc(var(--width_media_desktop) - var(--width_margin-px));
    }
}

@media (min-width: 1000px) { /* Ancho cuando la página tiene más de 1000px de ancho */
    [class*="c_ph_"] {
        display: none;
    }    
    [class*="c_tb_"] {
        display: none;
    }
    [class*="c_sc_"] {
        display: none;
    }
    .c_bsc_10, .c_bsc_25, .c_bsc_33, .c_bsc_40, .c_bsc_50, .c_bsc_60, .c_bsc_66, .c_bsc_75, .c_bsc_100 {
        display: block;
        margin-left: auto; 
        margin-right: auto;
    }
    .container {
        width: var(--width_media_bigdesktop);
    }
    .c_bsc_10 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.1);
    }
    .c_bsc_25 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.25);
    }
    .c_bsc_33 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.33);
    }
    .c_bsc_40 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.4);
    }
    .c_bsc_50 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.5);
    }
    .c_bsc_60 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.6);
    }
    .c_bsc_66 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.66);
    }
    .c_bsc_75 {
        width: calc((var(--width_media_bigdesktop) - var(--width_margin-px)) * 0.75);
    }
    .c_sc_100 {
        width: calc(var(--width_media_bigdesktop) - var(--width_margin-px));
    }
}
/* Termina Configuración del ancho de los divs */


/* Estilo para el menu */
.menu {
    position: fixed;
    z-index: 100;
    text-align: center;
    }
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        .menu li {
            display: inline-block;
            padding: 3rem 1rem;
            color: var(--color-5);
            font-size: var(--fsize-h1);
            background-color: var(--color-1);
            border: 2px solid var(--color-5);
            border-radius: 12px;
            }
        .menu li a {
            text-decoration: none;
            color: var(--color-5);
            }
            .menu li a:hover {
                color: var(--color-1);
                }
        .menu li:hover {
            color: var(--color-1);
            background-color: var(--color-5);
            border: 2px solid var(--color-1);
            }
/* Termina Estilo para el menu */

/* Estilos que se aplican a la parte de las webs que tienen contenido tipo texto */

.article { 
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--color-3);
}